<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '/partials/head.twig' %}
  </head>
  <body>
    {% include '/partials/nav.twig' %}
    <div class="mx-4 my-4">
      <h1>{{ title }}</h1>

      <form method="POST" action="{{ app_url }}/reset">
        <div class="form-group mb-2">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required />
        </div>
      </form>

      <button type="submit" class="btn btn-sm btn-dark">Reset Password</button>

      <div class="mb-2">
        <a href="{{ app_url }}/login">Back to Login</a>
      </div>
    </div>
    {% include '/partials/footer.twig' %}
  </body>
</html>
