<p>© <span id="currentYear"></span> {{ app_name }} | Made With 🖤 By <a href="https://soulaimaneyahya.com/" target="_blank">soulaimaneyahya.com</a></p>

<script
  src="{{ app_url }}/public/assets/js/bootstrap.bundle.min.js"
  defer
></script>
<script src="{{ app_url }}/public/assets/js/script.js" defer></script>
<script defer>
  document.querySelector("#currentYear").innerHTML = new Date().getFullYear();
</script>
