<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<title>{{ app_name }} | {{ title }}</title>
<link
  rel="stylesheet"
  href="{{ app_url }}/public/assets/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{{ app_url }}/public/assets/css/style.css" />
