<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '/partials/head.twig' %}
  </head>
  <body>
    {% include '/partials/nav.twig' %}
    <div class="mx-4 my-4">
      <h1>{{ title }}</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam totam
        suscipit cum nobis dignissimos aliquid magnam labore mollitia tempora
        numquam. Corrupti veniam voluptas ratione aliquid earum nostrum, natus
        eaque accusamus totam et nihil? Soluta omnis velit aperiam perferendis
        expedita quos ad facilis quas incidunt ex nemo necessitatibus consectetur,
        dignissimos magnam.
      </p>
    </div>
    {% include '/partials/footer.twig' %}
  </body>
</html>
