<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '/partials/head.twig' %}
  </head>
  <body>
    {% include '/partials/nav.twig' %}
    <div class="mx-4 my-4">
      <h1>{{ title }}</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate iusto
        saepe minima aliquid quae commodi ex molestias dolores perferendis,
        assumenda iure facilis sint? Voluptatem voluptate placeat soluta magnam,
        porro commodi autem. Modi, voluptate nesciunt. Repellat, aut cumque
        dolorum, debitis eligendi neque porro id voluptates quos error explicabo
        ut excepturi sint.
      </p>
    </div>
    {% include '/partials/footer.twig' %}
  </body>
</html>
